# MySQL
MYSQL_ROOT_PASSWORD=Aabc@1234
MYSQL_DATABASE=expensetracker
MYSQL_USER=root
MYSQL_PASSWORD=Aabc@1234

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/expensetracker
SPRING_JWT_SECRET=<BASE64_ENCODED_SECRET>
SPRING_JWT_EXPIRATION=86400000
SERVER_PORT=8082
